JWT_SECRET_KEY= https://xpoejfumaendasjposol.supabase.co
FACEBOOK_APP_SECRET= 0d00c615b79f1f1520cb2a63f0070353
WHATSAPP_ACCESS_TOKEN= EAAHaUEbT9RIBO4ZCMfnjOMvZCSowk2oNArdHvOFhZCZBeoYPj6AooZAr44QN06NWZAl0DXwfaFfyJr3Iq7dZBGZC47oienhVKTbY71fy9anOLmkyxqJXQLcDONmrAbFJBj3hMZAiK5trZC1sxXi6lOAAUkIl6s4vloIT8f7EVGK1LW8jmZAqZBB6UrQ7ECfTrtM9ukNkVJicttVCy7Jl1kbeq3gZD&data_access_expiration_time=1735554387&expires_in=5183999&code=AQBlACrrQ1LF5uTuwKRmbCsfQGgNfH4OSYOM298U_iKBf7J6jyTU63prNTOgrwUyitZqKyZCwOkciT717_oDHtaAtTcyhu4cLhxyBL5ioyfe8GubA-6Vh-FPe9HgyOmvhqDp4lobzXnhEgUamVK8CEPI5DvicPfPN9ZEZ-ahk-LGjJZI2eIKoXWrbSI8wiJgPrHHUUOsg0-bEBbJxVU6F2R56JHh7B8m7krm_kAAk0tDEOgrFY5oGbHGi5TcITI0fu5txu2CAqnUUXBxBZbEJIP9H8vQs2-YPTq_3XvB9KOwSnL-Tgh4S91jV1fu3WAUVLhS5siKDX63r1eLLoBGpVFLTwG5Dt2Nrxm6m4H4pDQB6vdUtZoxXoJ446xwnLED_ygbsGfrmx6XKou3l2xenBZ6HcHnIIH78TyPuicJi6OBiA
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwb2VqZnVtYWVuZGFzanBvc29sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjc3NzU2NjcsImV4cCI6MjA0MzM1MTY2N30.x_zvw0puUMMGond6lEijdePEyj4Lbajsss-AcDjZcEY
NEXT_PUBLIC_SUPABASE_URL=https://xpoejfumaendasjposol.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwb2VqZnVtYWVuZGFzanBvc29sIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyNzc3NTY2NywiZXhwIjoyMDQzMzUxNjY3fQ.AJ7Du79RWTxQ0WAQAnos8edyhfhJPXdqT2rbRlRWFCI
WEBHOOK_VERIFY_TOKEN= quranteaching
